#login {
    width: 25%;
    text-align: center;
    margin:0 auto;
    margin-top: 20px;
}

#elem {
    width: 20%;
    text-align: center;
    margin:0 auto;
    margin-top: 20px;
}

.spacer {
    margin-top: 20px;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

div.centre
{
    text-align: center;
}
